#loading {
    width: 100.5vw;
    height: 100.5vh;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 0;
}

#loadinglogo {
    width: 10vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 0;
}

@keyframes move {
    50% {
        width: 15vw;
    }
}

header
{
    background-color: #000000;
    position: relative;
    vertical-align: center;
    width: 98vw;
    z-index: 2;
}

body
{
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin-bottom: 10vw;
}

h1
{
    font: times new roman;
    color: #d5ad6d;
    text-align: center;
}

h2
{
    font: times new roman;
    color: #4E3524;
    text-align: center;
}

h3
{
    font: times new roman;
    color: #d5ad6d;
}

#nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#nav-icon
{
    float: left;
    max-width: max-header-content;
    cursor: pointer;
    z-index: 1;
}

#nav-icon2
{
    float: left;
    max-width: max-header-content;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

nav
{
    background-color: #4E3524;
    width: 25vw;
    height: 100.1vh;
    margin-left: -1.3vw;
    position: fixed;
    z-index: 1;
}

ul
{
    list-style-type: none;
    text-align: left;
    padding-left: 5vw;
    max-width: 25vw;
    position: relative;
}

.nav-link
{
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
}

footer
{
    position: fixed;
    bottom: 0px;
    min-width: max-content;
    z-index: 1;
}

h4
{
    font: times new roman;
    color: #d5ad6d;
    text-align: center;
    font-size: 5vw;
}

.itable
{
    border-width: 0px;
    border-color: #FFFFFF;
    border-style: solid;
    width: 33.3%;
    height: auto;
    position: relative;
    table-layout: fixed;
    float: left;
    display: inline;
    margin-bottom: 5vw;
}

.itable2
{
    border-width: 0px;
    border-color: #FFFFFF;
    border-style: solid;
    width: 33.3%;
    height: auto;
    position: relative;
    table-layout: fixed;
    float: left;
    display: inline;
    margin-top: -35px;
    margin-bottom: 5vw;
}

.itable3
{
    border-width: 0px;
    border-color: #FFFFFF;
    border-style: solid;
    width: 33.3%;
    height: auto;
    position: relative;
    table-layout: fixed;
    float: left;
    display: inline;
    margin-top: -70px;
    margin-bottom: 5vw;
}

.tpopup
{
    display: block;
}

.imagelabel4
{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}

.uploadimage4
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    width: 70%;
    height: 70%;
    position: relative;
    margin: auto;
    display: block;
}

.uploadimage4 .actualimage4
{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}

.uploadimage5
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    width: 70%;
    height: 70%;
    position: relative;
    margin: auto;
    display: block;
}

.uploadimage5 .actualimage5
{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}

.uploadimage6
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    width: 70%;
    height: 70%;
    position: relative;
    margin: auto;
    display: block;
}

.uploadimage6 .actualimage6
{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    cursor: pointer;
}

.btn
{
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    text-align: center;
    font: arial;
    color: #4E3524;
    cursor: pointer;
}

.btn-2
{
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #8b4513;
    border-radius: 5px;
    text-align: center;
    font: arial;
    color: #d5ad6d;
    cursor: pointer;
    display: block;
    margin: auto;
}

.btn-5
{
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    text-align: center;
    font: arial;
    color: #4E3524;
    cursor: pointer;
    margin-top: 10vw;
}

.page
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    min-width: 80%;
}

.content .popuptext
{
    visibility: hidden;
    width: 50vw;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

.content2 .popuptext2
{
    visibility: hidden;
    width: 50vw;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

.content3 .popuptext3
{
    visibility: hidden;
    width: 50vw;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

h7
{
    font: times new roman;
    color: #4E3524;
}

h8
{
    font: times new roman;
    color: #4E3524;
}

.text
{
    font: times new roman;
    color: #000000;
}

.popuptext.show
{
    visibility: visible;
}

.popuptext2.show
{
    visibility: visible;
}

.popuptext3.show
{
    visibility: visible;
}

.dropdown-menu
{
    position: relative;
    display: inline-block;
}

.form-group
{
    background-color:#FFFFFF;
    border: solid;
    border-color: #d3d3d3;
    border-width: 2px;
}

.uploadimage
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    color: #FFFFFF;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadimage .actualimage
{
    width: 100%;
    height: 100%;
}

.imagelabel
{
    position: absolute;
    cursor: pointer;
}

.uploadimage2
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    color: #FFFFFF;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadimage2 .actualimage2
{
    width: 100%;
    height: 100%;
}

.imagelabel2
{
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.uploadimage3
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    color: #FFFFFF;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    width: 40vw;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadimage3 .actualimage3
{
    width: 100%;
    height: 100%;
}

.imagelabel3
{
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.submit
{
    margin-left: 5vw;
    margin-right: 3vw;
    margin-top: 15vw;
}

.placement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vw;
}

.placement2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitit
{
    margin-left: 1vw;
    margin-top: 10vw;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label
{
    cursor: pointer;
}

.category
{
    width: 20vw;
    font: arial;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    color: #4E3524;
}

.category:focus {
    outline: none;
    border: 2px solid #4E3524;
}

h6
{
    font: arial;
    color: #4E3524;
}

.submit .form
{
    font: arial;
    color: #000000;
    width: 96.5%;
}

.form2
{
    color: #000000;
    width: 97%;
    height: 40vh;
}

.form2:focus {
    outline: none;
    border: 2px solid #4E3524;
}

#Acity
{
    float: left;
}

.inline1
{
    font: arial;
    color: #000000;
    width: 74%;
    height: auto;
}

.inline2
{
    font: arial;
    color: #000000;
    width: 22%;
    height: auto;
}

.message
{
    font: arial;
    color: #4E3524;
}

.link
{
    text-decoration: none;
    color: #d5ad6d;
}

.messagebox
{
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: left;
    width: 85vw;
    margin-top: 5vw;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.checkbox
{
    width: 1.7vw;
    height: 1.7vw;
    outline: 3px solid #4E3524;
    cursor: pointer;
}

.check
{
    font-size: 1.7vw;
    font: arial;
    color: #4E3524;
}

.box
{
    display: inline-block;
    margin-left: 15%;
}

.fbox
{
    display: inline-block;
    margin-left: 10%;
}

.provide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;
    width: 100%
}

.submit4
{
    margin-left: 4vw;
    margin-right: 5vw;
    width: 90vw;
    margin-top: 5vw;
}

.provide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.provide3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 5vw;
}

.inline3
{
    font: arial;
    color: #000000;
    width: 40vw;
    height: auto;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
}

.inline3:focus {
    outline: none;
    border: 2px solid #4E3524;
}

.inline4
{
    font: arial;
    color: #000000;
    width: 40vw;
    height: auto;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
}

.inline4:focus {
    outline: none;
    border: 2px solid #4E3524;
}

.submit2
{
    margin-left: 1vw;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itable4
{
    width: 90%;
    height: auto;
    position: relative;
    table-layout: fixed;
    margin-top: 10vw;
}

.row
{
    height: 45vw;
}

.row2
{
    height: 30vw;
}

.column
{
    border-bottom: 0.5vw solid #FFFFFF;
}

.uploadimage7
{
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    width: 40%;
    height: 40%;
    position: relative;
    margin: auto;
    display: block;
}

.uploadimage7 .actualimage7
{
    width: 100%;
    height: inherit;
    position: relative;
    margin: auto;
    display: block;
}

.content4 .popuptext4
{
    visibility: hidden;
    width: 50vw;
    height: 60vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid;
    border-width: 5px;
    border-color: #d5ad6d;
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
}

.popuptext4.show
{
    visibility: visible;
}

.inline6
{
    font: arial;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    color: #4E3524;
    width: 50vw;
}

.inline6:focus {
    outline: none;
    border: 2px solid #4E3524;
}

.inline7
{
    font: arial;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    color: #4E3524;
    width: 25%;
}

.h9
{
    font-family: arial;
    color: #4E3524;
}

.textarea
{
    width: 90%;
    height: 50vw;
    font: arial;
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    border-color: #d5ad6d;
    border-radius: 5px;
    color: #4E3524;
    margin-top: 15vw;
    margin-bottom: 5vw;
    margin-left: 4vw;
}

.ratinginfo {
    margin-left: 4vw;
    margin-bottom: 5vw;
}

.submit3
{
    margin-left: 4vw;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;

}

.itable5
{
    height: auto;
    position: relative;
    table-layout: fixed;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    width: 80vw;
}

.row3
{
    height: 20vw;
}

.column2
{
    border-bottom: 0.5vw solid #d5ad6d;
}

.column3
{
    border-bottom: 0.5vw solid #d5ad6d;
}

.text2
{
    font: times new roman;
    color: #000000;
}

.btn-3
{
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    color: #8b4513;
    border-radius: 5px;
    text-align: center;
    font-family: arial;
    border-color: #d5ad6d;
    cursor: pointer;
    display: block;
    margin: auto;
    z-index: 3;
}

.star
{
    accent-color: #d5ad6d;
}

.review {
    margin-bottom: 10vw;
}

.btn-4
{
    background-color: #FFFFFF;
    border: solid;
    border-width: 2px;
    text-align: center;
    font: arial;
    cursor: pointer;
    display: block;
    margin: auto;
    z-index: 3;
    font: arial;
    border-color: #d5ad6d;
    border-radius: 5px;
    color: #4E3524;
}

.error
{
    color: #000000;
    font: arial;
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 20vw;
}

@media only screen and (min-width: 1024px) {
    h7 {
        font-size: 2.6vw;
    } h8 {
        font-size: 1.4vw;
    } .text {
        font-size: 1.2vw;
    } .text2 {
        font-size: 1.5vw;
    } .content .popuptext {
        padding: 2vw;
        min-width: 50vw;
        max-height: 60vh;
    } .content2 .popuptext2 {
        padding: 2vw;
        min-width: 50vw;
        max-height: 60vh;
    } .content3 .popuptext3 {
        padding: 2vw;
        min-width: 50vw;
        max-height: 60vh;
    } .content4 .popuptext4 {
        padding: 2vw;
        min-width: 50vw;
        max-height: 60vh;
    } header {
        height: 7vw;
    } h1 {
        font-size: 1.8vw;
        padding-top: 1vw;
    } h2 {
        font-size: 1.2vw;
        padding-bottom: 1vw;
    } h3 {
        font-size: 1.9vw;
        padding-left: 6vw;
    } #nav-title {
        height: 7vw;
    } #nav-icon {
        height: 7vw;
    } #nav-icon2 {
        max-height: 7vw;
    } .nav-link {
        font-size: 2.1vw;
    } .btn2 {
        font-size: 1.2vw
    } .inline3 {
        font-size: 1.2vw;
    } .inline4 {
        font-size: 1.2vw;
    } .btn {
        font-size: 1.2vw;
    } .btn-5 {
        font-size: 1.2vw;
    } .category {
        font-size: 1.2vw;
    } h6 {
        font-size: 1.4vw;
    } .submit .form {
        font-size: 1.2vw;
    } .inline1 {
        font-size: 1.2vw;
    } .inline2 {
        font-size: 1.2vw;
    } .form2 {
        font-size: 1.2vw;
    } h9 {
        font-size: 1.2vw;
    } .inline6 {
        font-size: 1.2vw;
    } .textarea {
        font-size: 1.2vw;
    } .error {
        font-size: 1.5vw;
    } .btn-3 {
        font-size: 1.2vw;
    } .btn-4 {
        font-size: 1.2vw;
    } #flag {
        width: 4vw;
    } .message {
        font-size: 1.4vw;
    } .inline7 {
        font-size: 1.2vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h7 {
        font-size: 2.7vw;
    } h8 {
        font-size: 1.7vw;
    } .text {
        font-size: 1.4vw;
    } .text2 {
        font-size: 1.7vw;
    } .content .popuptext {
        padding: 1.5vw;
        min-width: 50vw;
        max-height: 50vh;
    } .content2 .popuptext2 {
        padding: 1.5vw;
        min-width: 50vw;
        max-height: 50vh;
    } .content3 .popuptext3 {
        padding: 1.5vw;
        min-width: 50vw;
        max-height: 50vh;
    } .content4 .popuptext4 {
        padding: 1.5vw;
        min-width: 50vw;
        max-height: 50vh;
    } header{
        height: 7.5vw;
    } h1 {
        font-size: 2vw;
        padding-top: 1.1vw;
    } h2 {
        font-size: 1.4vw;
        padding-bottom: 1.1vw;
    } h3 {
        font-size: 2.1vw;
        padding-left: 7vw;
    } #nav-title {
        height: 7.5vw;
    } #nav-icon {
        height: 7.5vw;
    } #nav-icon2 {
        max-height: 7.5vw;
    } .nav-link {
        font-size: 2.3vw;
    } .btn2 {
        font-size: 1.4vw
    } .inline3 {
        font-size: 1.5vw;
    } .inline4 {
        font-size: 1.5vw;
    } .btn {
        font-size: 1.5vw;
    } .btn-5 {
        font-size: 1.5vw;
    } .category {
        font-size: 1.4vw;
    } h6 {
        font-size: 1.7vw;
    } .submit .form {
        font-size: 1.5vw;
    } .inline1 {
        font-size: 1.5vw;
    } .inline2 {
        font-size: 1.5vw;
    } .form2 {
        font-size: 1.5vw;
    } h9 {
        font-size: 1.5vw;
    } .inline6 {
        font-size: 1.5vw;
    } .textarea {
        font-size: 1.5vw;
    } .error {
        font-size: 1.7vw;
    } .btn-3 {
        font-size: 1.5vw;
    } .btn-4 {
        font-size: 1.5vw;
    } #flag {
        width: 5vw;
    } .message {
        font-size: 1.7vw;
    } .inline7 {
        font-size: 1.4vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    h7 {
        font-size: 2.9vw;
    } h8 {
        font-size: 2vw;
    } .text {
        font-size: 1.7vw;
    } .text2 {
        font-size: 2vw;
    } .content .popuptext {
        padding: 1.5vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content2 .popuptext2 {
        padding: 1.5vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content3 .popuptext3 {
        padding: 1.5vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content4 .popuptext4 {
        padding: 1.5vw;
        min-width: 60vw;
        max-height: 50vh;
    } header{
        height: 8vw;
    } h1 {
        font-size: 2vw;
        padding-top: 1.2vw;
    } h2 {
        font-size: 1.5vw;
        padding-bottom: 1.2vw;
    } h3 {
        font-size: 2.1vw;
        padding-left: 8vw;
    } #nav-title {
        height: 8vw;
    } #nav-icon {
        height: 8vw;
    } #nav-icon2 {
        max-height: 8vw;
    } .nav-link {
        font-size: 2.5vw;
    } .btn2 {
        font-size: 1.7vw
    } .inline3 {
        font-size: 1.8vw;
    } .inline4 {
        font-size: 1.8vw;
    } .btn {
        font-size: 1.8vw;
    } .btn-5 {
        font-size: 1.8vw;
    } .category {
        font-size: 1.7vw;
    } h6 {
        font-size: 2.1vw;
    } .submit .form {
        font-size: 1.9vw;
    } .inline1 {
        font-size: 1.9vw;
    } .inline2 {
        font-size: 1.9vw;
    } .form2 {
        font-size: 1.9vw;
    } h9 {
        font-size: 1.9vw;
    } .inline6 {
        font-size: 1.9vw;
    } .textarea {
        font-size: 1.9vw;
    } .error {
        font-size: 2vw;
    } .btn-3 {
        font-size: 1.9vw;
    } .btn-4 {
        font-size: 1.9vw;
    } #flag {
        width: 6vw;
    } .message {
        font-size: 2.1vw;
    } .inline7 {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width: 480px) {
    h7 {
        font-size: 3.2vw;
    } h8 {
        font-size: 2.3vw;
    } .text {
        font-size: 2vw;
    } .text2 {
        font-size: 2.3vw;
    } .content .popuptext {
        padding: 2vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content2 .popuptext2 {
        padding: 2vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content3 .popuptext3 {
        padding: 2vw;
        min-width: 60vw;
        max-height: 50vh;
    } .content4 .popuptext4 {
        padding: 2vw;
        min-width: 60vw;
        max-height: 50vh;
    } header{
        height: 9.5vw;
    } h1 {
        font-size: 2.2vw;
        padding-top: 1.2vw;
    } h2 {
        font-size: 1.8vw;
        padding-bottom: 1.2vw;
    } h3 {
        font-size: 2.4vw;
        padding-left: 10vw;
    } #nav-title {
        height: 9.5vw;
    } #nav-icon {
        height: 9.5vw;
    } #nav-icon2 {
        max-height: 9.5vw;
    } .nav-link {
        font-size: 3vw;
    } nav {
        width: 35vw;
        margin-left: -1.3vw;
    } .btn2 {
        font-size: 2vw
    } .inline3 {
        font-size: 2.1vw;
    } .inline4 {
        font-size: 2.1vw;
    } .btn {
        font-size: 2.1vw;
    } .btn-5 {
        font-size: 2.1vw;
    } .category {
        font-size: 2vw;
    } h6 {
        font-size: 2.4vw;
    } .submit .form {
        font-size: 2.2vw;
    } .inline1 {
        font-size: 2.2vw;
    } .inline2 {
        font-size: 2.2vw;
    } .form2 {
        font-size: 2.2vw;
    } h9 {
        font-size: 2.2vw;
    } .inline6 {
        font-size: 2.2vw;
    } .textarea {
        font-size: 2.2vw;
    } .error {
        font-size: 2.3vw;
    } .btn-3 {
        font-size: 2.2vw;
    } .btn-4 {
        font-size: 2.2vw;
    } #flag {
        width: 7vw;
    } .message {
        font-size: 2.4vw;
    } .inline7 {
        font-size: 2vw;
    }
}