{% extends "layout.html" %}

{% block title %}

<h4>
    Review Recommendation
</h4>

{% endblock %}

{% block main %}

    <form action="/review" method="post" class="submit4" id="form">

        <div class="provide2">
            <h9 class="h9">
                Review
                <select class="inline6" id="title" name="title" onchange="show()" required>
                    <option disabled selected value="">Title</option>
                    {% for title in titles %}
                    <option value="{{title['title']}}" required>{{title["title"]}}</option>
                    {% endfor %}
                 </select>
            </h9>
        </div>

        <div class="review" id="review" style="display: none">

            <textarea class="textarea" id="text" name="text" placeholder="Review" type="text" autocomplete="off" maxlength="1000" required></textarea>

            <div class="ratinginfo">
                <h9 class="h9">Rating:</h9>

                <div class="stars" style="display: inline">
                    <input class="star" id="star1" type="radio" value="1" name="star"/>
                    <label class="star" for="star1"></label>
                    <input class="star" id="star2" type="radio" value="2" name="star"/>
                    <label class="star" for="star2"></label>
                    <input class="star" id="star3" type="radio" value="3" name="star"/>
                    <label class="star" for="star3"></label>
                    <input class="star" id="star4" type="radio" value="4" name="star"/>
                    <label class="star" for="star4"></label>
                    <input class="star" id="star5" type="radio" value="5" name="star"/>
                    <label class="star" for="star5"></label>
                </div>
            </div>

            <button class="btn btn-2" id="reviewbutton" type="submit" onclick="load()">Submit Review</button>

        </div>

    </form>

<script>

    function show()
    {
        var review = document.getElementById('review');

        review.style.display = "block";
    }

</script>
{% endblock %}