{% extends "layout.html" %}

{% block title %}

<h4>
    Reviews
</h4>

{% endblock %}

{% block main %}

    <table class="itable5">
        <tbody>
    
            {% for result in results %}
    
            <tr class="row3">
                <td class="column3">
                    <p class="text2">" {{result['review']}} "</p>
                    <h8>Rating:</h8> <p class="text2" style="display: inline">{{result['rating']}}/5</p>
                </td>
            </tr>
    
            {% endfor %}
    
        </tbody>
    </table>
    
    <div class="error">
        {{error}}
    </div>
    
    <button class="btn-4" id="review" type="button" onclick="review() ; load()">Write a review</button>
    
    <script>
        function review()
        {
            window.location.href= "/review";
        }
    </script>
    
{% endblock %}