{% extends "layout.html" %}

{% block title %}

<h4>
    Reviews
</h4>

{% endblock %}

{% block main %}

    <form action="/reviews" method="post" class="submit3" id="form">

        <div>

            <br></br>
            <br></br>

            <h9>
                <select class="inline6" id="title" name="title">
                    <option disabled selected value="">Title</option>
                    {% for review in reviews %}
                    <option value="{{review['title']}}" required>{{review["title"]}}</option>
                    </button>
                    {% endfor %}
                </select>
            </h9>

            <br></br>

            <button class="btn-3" id="review" type="submit">Lookup</button>

        </div>

    </form>

    <table class="itable5">

        <br></br>
        <br></br>

        <tbody>

            {% for result in results %}

            <tr class="row3">
                <td class="column2">
                    <br></br>
                    <p class="text2">" {{result['reviews']}} "</p>
                    <h10>Rating:</h10> <p style="display: inline">{{result['rating']}}/5</p>
                    <br></br>
                    <br></br>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    <br></br>
    <br></br>

    <div class="error">
        {{error}}
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <button class="btn btn-2" id="review" type="button" onclick="review()">Write a review</button>

    <br></br>
    <br></br>
    <br></br>

    <script>
        function review()
        {
            window.location.href= "/review";
        }
    </script>

{% endblock %}