{% extends "layout.html" %}

{% block title %}

<h4>Thank you for your review</h4>

{% endblock %}

{% block main %}

    <br></br>
    <br></br>

    <div class="messagebox">
        <form action="/reviews" method="get" class="thankyoureviewsubmit" id="thankyoureviewform">
            <input type="hidden" name="title" id="title" value="{{title}}" />
            <message class="message">Thank you for reviewing <text class="link">"{{title}}"</text></message>
            <br></br>
            <br></br>
            <button class="btn-2" name="reviews" type="submit" style="display: inline"> Read More Reviews </button>
            <br></br>
            <br></br>
            <br></br>
        </form>
    </div>

{% endblock %}